GtiTeste.AppWebForms/Connected Services/ClienteService/ClienteSvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GtiTeste.Business.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GtiTeste.Business.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52042/ClienteSvc.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RetornoOperacaoDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Mensagens" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="OperacaoValida" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOperacaoDTO" nillable="true" type="tns:RetornoOperacaoDTO" />
</xs:schema>