GtiTeste.AppWebForms/Connected Services/ClienteService/ClienteSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GtiTeste.WCF.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GtiTeste.WCF.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52042/ClienteSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfClienteContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteContract" nillable="true" type="tns:ClienteContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteContract" nillable="true" type="tns:ArrayOfClienteContract" />
  <xs:complexType name="ClienteContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cpf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataExpedicao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataNascimento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="tns:EnderecoContract" />
      <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgaoExpedicao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteContract" nillable="true" type="tns:ClienteContract" />
  <xs:complexType name="EnderecoContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnderecoContract" nillable="true" type="tns:EnderecoContract" />
  <xs:complexType name="ArrayOfEstadoContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstadoContract" nillable="true" type="tns:EstadoContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadoContract" nillable="true" type="tns:ArrayOfEstadoContract" />
  <xs:complexType name="EstadoContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Sigla" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoContract" nillable="true" type="tns:EstadoContract" />
</xs:schema>